header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #FFFFFF;
}


#header-logo {
  width: 50px; /* Adjust the desired width */
}

nav {
  display: flex;
  align-items: center;
  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #000000; /* Change to the desired color */
  text-decoration: none; /* Remove underline if needed */
}


.main-container {
  display: grid;
  gap: 1rem;

}

.section-1 {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  background-color: #495E57;
  margin: 0rem;
}

@media (min-width: 701px) {
  .section-1 {
    grid-template-columns: 2fr 1fr;
  }
}


.section1-img {
  grid-column: 2; /* Place the image in the second column */
  grid-row: 1 / span 2;
  margin: 1rem;
  border-radius: 16px;
  overflow: hidden;
}

.section1-img img {
  width: 100%; /* Set the image width to 100% of its container */
  height: 100%; /* Set the image height to 100% of its container */
  object-fit: cover; /* Crop the image to cover the container */
  object-position: center; /* Center the cropped image */
}


.section-title {
  font-size: 64px;
  font-weight: medium;
  color: #F4CE14;
  margin: 1rem;
}

.section-subtitle {
  font-size: 40px;
  font-weight: none; 
  color: #F4CE14;
  margin: 1rem;
}

.section-text {
  font-size: 18px;
  color: #FFFFFF;
  margin: 1rem;
}

.section-button {
  padding: 0.75rem 1rem; /* Decrease the padding to make the button smaller */
  background-color: #F4CE14;
  color: #000000;
  font-size: 16px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  margin: 1rem;
}

@media (max-width: 700px) { 
	.section-2 { 
		display: grid; 
		grid-auto-flow: row; 
} } 

@media (min-width: 701px) { 
	.section-2 { 
		width: min(1000px,75rem); 
		margin: 0 auto; 
		grid-auto-flow: column; 
		gap: 1em; 
} } 